 <section>
            <div class="sign__in__container">
                <div class="sign__in__content">
                    <h2>Login</h2>
                    <p>Get access to your Orders, Wishlist and Recommendations.</p>
                </div>
                <div class="sign__in__form">
                    <form>
                        <div class="form__input">
                            <input type="email" name="email" id="email" required>
                            <label>Email</label>
                        </div>
                        <div class="form__input">
                            <input type="password" name="password" id="password" required>
                            <label>Password</label>
                        </div>
                        <div class="form__input">
                            <button>Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>