<section class="sign__section">
    <div class="sign__in__container">
        <div class="sign__in__content">
            <h2>Signup</h2>
            <p>We do not share your personal details with anyone.</p>
        </div>
        <div class="sign__in__form">
            <form>
                <div class="form__input">
                    <input type="text" name="firstName" id="firstName" required>
                    <label>First Name</label>
                </div>
                <div class="form__input">
                    <input type="text" name="lastName" id="lastName" required>
                    <label>Last Name</label>
                </div>
                <div class="form__input">
                    <input type="email" name="email" id="email" required>
                    <label>Email</label>
                </div>
                <div class="form__input">
                    <input type="password" name="password" id="password" required>
                    <label>Password</label>
                </div>
                <div class="form__input">
                    <input type="password" name="confirmPassword" id="confirmPassword" required>
                    <label>Confirm Password</label>
                </div>
                <div class="form__input">
                    <button>Signup</button>
                </div>
            </form>
        </div>
    </div>
</section>