

.login {
	@include  flex-align-items;
	justify-content: space-around;
	@include max-width;
	&__content p {
		line-height: 60px;
	}
	&__form {
		flex: 0 1 30%;
		box-sizing: border-box;
	}
	&__form__input {
		@include form-input;
	}
}


