

.signin {
	@include  flex-align-items;
	justify-content: space-around;
	@include max-width;
	&__content p {
		line-height: 60px;
	}
	&__form {
		flex: 0 1 30%;
		box-sizing: border-box;
	}
	&__form__input {
		@include form-input;
	}
}


label {
	top: 0px;
	position: absolute;
	pointer-events: none;
	transition: 0.2s ease all;
}
input {
	&:focus ~ label  {
		top: -40%;
		color: #4ae4ec;
		outline: none;
		font-size: 16px;
	}
}
input {
	&:valid ~ label  {
		top: -40%;
		outline: none;
		font-size: 16px;
	}
}