/* variables */

$color-primary: #af4c83;
$color-secondary: #fff;
$color-tertairy: #000;
$bg-color: #e2d8d8;
$bg-color-gray: #808080;
$float-left: left;
$float-right: right;
$cursor: pointer;
$width: 100%;
$border-bottom: 1px solid #efefef;
